.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page img {
  display: none;
  width: calc(50vw - 10rem);
  height: auto;
}

@media screen and (min-width: 1241px) {
  .page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .page img {
    display: block;
  }
}