* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --yale-blue: #1d546e;
  --blue-green: #00a0cc;
  --cool-sky: #71b4e4;
  --maya-blue: #86c3ff;
  --icy-blue: #a8d2f0;
  --porcelain: #fafdf6;
  --black: #212121;
}

body {
  margin: 2rem;
}
