.page {
  padding: 2rem;
  background: linear-gradient(90deg, rgba(26, 116, 249), rgba(35, 49, 113));
  height: calc(100vh - 8rem);
  color: var(--color-header);
  position: relative;
  overflow: hidden;
}

.img_container {
  inset: 0;
  z-index: -1;
}

.img_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 22rem;
  filter: brightness(0.6) sepia(1) hue-rotate(180deg) saturate(3);
}

.title,
.features {
  margin-bottom: 2rem;
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.register {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.register button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: rgba(255, 100, 150);
  color: #fff;
}

.features_title {
  margin-bottom: 1rem;
}

.features {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.feature div {
    display: grid;
    grid-template-columns: 64px auto;
    gap: 2rem;
}

.feature h4 {
  margin-bottom: 1rem;
}

.feature {
  margin-bottom: 1.5rem;
}