.header {
  background-color: var(--porcelan);
  height: 5rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 1rem black;
  padding: 0rem 2rem;
}

.left {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  color: var(--text-color);
}
